.simple .body {
	padding: 20px 0 0 0;
}
.simple .header{
	width: 775px;
	margin: auto;
}
.simple .header_head{
 	height: 15px;
	margin: auto;
	padding: 15px 0 0 15px;
	font-size: 22px;
	text-align: left;
}
.simple .header_logo{
	height: 110px;
	padding: 0 0 0 2px;
	margin: auto;
}
.simple .header_bg {
	background: url(images/01_header01.jpg) no-repeat;
}
.simple .header_menu{
}
.simple .container{
	margin: auto;
	background: white url(images/01_bodybg.jpg) repeat-y;
	text-align: center;
}
.simple .left{
	width: 10px;
}
.simple .right {
 	width: 10px;
}
.simple .footer{
	width: 775px;
	background: url(images/01_footer.jpg) top no-repeat;
	padding: 10px 0 0 0;
	margin: auto;
}
