<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
	<display-name>GWT</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.html</url-pattern>
			<include-prelude>/WEB-INF/prelude.jspf</include-prelude>
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/prelude.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<listener>
		<listener-class>org.gwtapp.startapp.server.rest.RestServletConfig
		</listener-class>
	</listener>	
	<filter>
		<filter-name>Rest</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Rest</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>StartApp</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.StartAppServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartApp</servlet-name>
		<url-pattern>/gwt.startappentry/gwtapp.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/gwt.startappentry/download.rpc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.DownloadServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.UploadServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/gwt.startappentry/upload.rpc</url-pattern>
	</servlet-mapping>
</web-app>
