.validation {
	display: none;
}

.validation-login-invalid .login-invalid {
	display: block;
}

.validation-login-too-short .login-too-short {
	display: block;
}

.validation-email-invalid .email-invalid {
	display: block;
}