.validation {
	display: none;
}

.user-panel .validation-login-invalid .validation.login-invalid {
	display: block;
}

.user-panel .validation-login-too-short .validation.login-too-short {
	display: block;
}

.user-panel .validation-login-already-exists .validation.login-already-exists {
	display: block;
}

.user-panel .validation-email-invalid .validation.email-invalid {
	display: block;
}