<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
	<display-name>GWT Manual Testing</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.html</url-pattern>
			<include-prelude>/WEB-INF/prelude.jspf</include-prelude>
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/prelude.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>
