<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
	<display-name>GWT</display-name>

	<filter>
		<filter-name>GZIP</filter-name>
		<filter-class>com.cuprum.filters.GZIPFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIP</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>RPC</filter-name>
		<filter-class>com.cuprum.filters.ProxyFilter</filter-class>
		<init-param>
			<param-name>server</param-name>
			<param-value>http://gwtapp.cuprum.biz:8081/smallapp-srv/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RPC</filter-name>
		<url-pattern>*.rpc</url-pattern>
	</filter-mapping>
</web-app>
