.extsimple .header_bg0 {
	background: url(images/01_header01.jpg) no-repeat;
}
.extsimple .header_bg1 {
	background: url(images/01_header02.jpg) no-repeat;
}
.extsimple .header_bg2 {
	background: url(images/01_header03.jpg) no-repeat;
}
.extsimple .header_bg3 {
	background: url(images/01_header04.jpg) no-repeat;
}
