.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.startapp-template {
	font-style: italic;
}

div.table {
	display: table;
	border-collapse: separate;
}

div.row {
	display: table-row;
	width: auto;
}

div.cell {
	display: table-cell;
	width: auto;
	padding: 5px;
}

div.table.main {
	width: 100%;
	border: 1px solid #666666;
	background-color: #ccc;
	border-spacing: 4px;
}

div.table.main div.cell {
	background-color: #eee;
}

div.table.main .header .cell {
	text-align: center;
}

.feedback {
	border: 2px dotted #bbddbb;
	width: 325px;
	padding: 4px;
}

.feedback .label {
	float: left;
	width: 80px;
}

.feedback .input {
	width: 239px;
}

.feedback .send {
	width: 45px;
	height: 21px;
	border: 2px outset #bbddbb;
	background-color: #bbddbb;
	text-align: center;
	cursor: pointer;
}