.startapp-template {
	font-style: italic;
}

div.table {
	display: table;
	border-collapse: separate;
}

div.row {
	display: table-row;
	width: auto;
}

div.cell {
	display: table-cell;
	width: auto;
}

div.table.main {
	width: 100%;
	border: 1px solid #666666;
	background-color: #ccc;
	border-spacing: 4px;
}

div.table.main div.cell {
	background-color: #eee;
}

div.table.main .header .cell{
	text-align: center;
}