<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="2.4">
	<display-name>GWT</display-name>
	<servlet>
		<servlet-name>GwtApp</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.GwtAppServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GwtApp</servlet-name>
		<url-pattern>/gwt.startappentry/gwtapp.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/gwt.startappentry/gwtapp-download.rpc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.DownloadServiceImpl
		</servlet-class>
	</servlet>
</web-app>
