<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
	<display-name>GWT</display-name>
	<servlet>
		<servlet-name>GwtApp</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.GwtAppServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GwtApp</servlet-name>
		<url-pattern>/gwt.startappentry/gwtapp.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/gwt.startappentry/gwtapp-download.rpc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.DownloadServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>org.gwtapp.startapp.server.UploadServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/gwt.startappentry/upload.rpc</url-pattern>
	</servlet-mapping>
</web-app>
